<div class="toolbar-container" role="banner">

  <mat-toolbar class="toolbar">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div class="inner-left" fxFlex fxLayout="column" fxLayoutAlign="start start">

        <img class="logo-image" src="assets/img/jobtome.png" />

        <div class="social-icons-container" fxFlex fxLayout="row" fxLayoutAlign="start start">

          <a class="social-icon" href="https://www.facebook.com/jobtome">
            <mat-icon svgIcon="facebook"></mat-icon>
          </a>

          <a class="social-icon" href="https://www.instagram.com/lifeatjobtome/">
            <mat-icon svgIcon="instagram"></mat-icon>
          </a>

          <a class="social-icon" href="https://twitter.com/jobtome">
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>

          <a class="social-icon" href="https://www.linkedin.com/company/jobtome-com/">
            <mat-icon svgIcon="linkedin"></mat-icon>
          </a>

        </div>

        <span class="rights-reserved-text">© 2022 <b>Jobtome.com</b> &mdash; All Rights Reserved.</span>

      </div>

      <div class="inner-right" fxFlex fxLayout="row" fxLayoutAlign="end center">

        <span class="made-by-text">Made with <i>&#9829;</i> for all job seekers.</span>

      </div>

    </div>

  </mat-toolbar>

</div>