<div class="toolbar-container" role="banner">

  <mat-toolbar class="toolbar mat-elevation-z5">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div class="inner-left" fxFlex fxLayout="row" fxLayoutAlign="start center">

        <img class="logo-image" src="assets/img/jobtome.png" routerLink="/" />

      </div>

      <div class="inner-right" fxFlex fxLayout="row" fxLayoutAlign="end center">

        <button mat-flat-button class="publish-job-button">Publish Job</button>

        <span class="spacer"></span>

        <button mat-icon-button class="icon home-icon" routerLink="/" aria-label="Home">
          <mat-icon>home</mat-icon>
        </button>

        <button mat-icon-button class="icon favorite-icon" aria-label="Favorite">
          <mat-icon>favorite</mat-icon>
        </button>

        <button mat-icon-button class="icon share-icon" aria-label="Share">
          <mat-icon>share</mat-icon>
        </button>

      </div>

    </div>

  </mat-toolbar>

</div>